<!DOCTYPE html>
<html lang="en">

{% extends "MonEtablissement/base.html" %}
<!-- acces crispy namespace -->
{% load crispy_forms_tags %}

{% block title %}Acceuil{% endblock %} 
{% block bodyId %}welcomePage{% endblock %} 




{% block content %}





<div class="container">
	<div class="row">

		<div class="jumbotron" >
			<h1>
				<a href="/">C'est la Classe à l'envers ! </a> <!-- <a href="/login"
					class="btn btn-info" role="button">Se connecter</a> <a
					href="/register" class="btn btn-info" role="button">Nouvel
					utilisateur</a> --><br>
					<span style= "opacity: 0.6;
								  background-color: #ffffff;			  	
								  filter: alpha(opacity=60); 
								  border-radius: 10px;">
						<small>Passerelle élève/professeur pour la classe inversée</small>
					</span>
			</h1>
			<div>

				{% if logged_user %}
				<!-- <h3>Bienvenue  {{logged_user.first_name}} </h3> -->
								
				 <a href="/profile"
					class="btn btn-default" role="button" style= "opacity: 0.6;
    filter: alpha(opacity=60);">Bienvenue {{logged_user}}</a> 
				
				
				{% else %}
				
				<p>
				
				<a href="/login"
					class="btn btn-info" role="button">Se connecter</a> <a
					href="/register" class="btn btn-info" role="button">Nouvel
					utilisateur</a>
				
				</p>
				
				{% endif %}

			</div>

		</div>
		<!-- jumbotron -->

		{% if niveau_list %}
		<div class="row">
			{% for monniveau in niveau_list %}



			<div class="col-sm-3" >
				<div style="padding:10px;
							background-color: #ffffff;
							border: #cdcdcd medium solid;
							border-radius: 10px;">
					<h3 style="text-align: center;">
						<a href="/MonEtablissement/sequence/{{ monniveau.niveau }}eme">
							{{ monniveau.niveau }}<sup>eme</sup></a>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris...</p>
				</div>
			</div>

			{% endfor %} {% endif %}
		</div><!-- row -->
		
		
		<div class="container-fluid">
 			<div class="row text-justify">
				<div class="col-sm-6  ">
					<!-- test un titre de niveau 1 qui redirige vers la page d'acceuil -->
					<h1 class="site-title">
						<a href="http://127.0.0.1:8000/welcome"
							title="la classe à l'envers.fr" rel="home">la classe à l'envers</a>
						<!-- 			<a href="http://www.classe-a-l-envers.fr/" title="la classe à l'envers.fr" rel="home">la classe à l'envers</a> -->
					</h1>

					<h2 class="site-description">En quoi cela consiste t'il?</h2>

						<p>
							Dans un modèle pédagogique <mark>usel/classique/traditionnel</mark> le professeur fait la leçon 
							en classe et donne des exercices d'entraînement ou de recherche à faire dans le temps de travail hors-classe.
						</p>

						<p class="lead">"Disposer de plus de temps pour évaluer le travail de recherche des élèves et
							leurs compétences dans la résolution de problèmes." </p>

						<p >
							« Inverser la classe », c'est exporter les leçons en dehors de la classe, par l'intermédiaire
							de capsules vidéos de quelques minutes. Le temps d'interaction entre l'enseignant et les élèves
							peut alors être utilisé pour faire plus d'activités, de recherches mais aussi pour travailler en
							groupes. 
						</p>

						<blockquote>
						  <p>Un enseignement différencié.</p>
						  <p>Un gain de temps.</p>
						  <p>Le tutorat par les pairs.</p>
						  <p> Un temps de classe plus agréables.</p>
						  <p> Une autonomie des élèves développée.</p>

						  <footer>Dufour H., Technologie, no 193,‎ septembre-octobre 2014, p. 44-47 <cite title="Source Title">« La classe inversée »</cite></footer>
						</blockquote>


					<h2 class="site-description">Quelques explications supplémentaire</h2>
						
						<p>
							Les contenus des capsules vidéos et activités sont réalisées <mark><strong>pour les élèves par leur professeur</strong></mark>. 
							Des ressources additionnelles peuvent également être indiquées pour poursuivre l'apprentissage.
						</p>
						
					<!-- test acceuil utilisateur -->
					<!-- {% if logged_user %}
					<p>Bienvenue {{logged_user.first_name}}</p
					<p>Bienvenue {{logged_user}}</p>
					{% endif %} -->

					
				</div><!-- col-sm-6 -->

				<div class="col-sm-6 " style="margin-top:10px;
											color:black;
											{% if d.1.color  %}
											background: {{d.1.color }};
											{% else %}
											background: {{d.1 }};
											{% endif %}
											border: #cdcdcd medium solid;
											border-radius: 10px;
											">


				<h2 class="site-description">Ce site est votre plateforme de classe inversée</h2>
						
						<p>
							En pratique, je mettrai un lien internet qui permet d'accéder aux vidéos dans le cahier
							de texte de l'ENC, à la place des devoirs à faire. 
						</p>

						<P>

						</P>

						<p>
							Vous pourrez, vous aussi, regarder ces vidéos.
							Pour les élèves qui n'auraient pas d'accès internet chez eux, il sera toujours possible de
							visionner les vidéos au CDI pendant la récréation du matin ou les heures de demi-pension.
							Les vidéos sont suivies d'un petit questionnaire que les élèves doivent compléter. Il est possible
							d'emmettre une remarque ou une question lors de la participation aux questionnaires.

							<p class="bg-info">Il s'agit de savoir si les cours ont été bien compris et ainsi mieux répondre aux interrogations des élèves à la
							séance qui suit le visionnage.
							</p>
							
						</p>						

						<p>
							Quelques avantages de la pédagogie inversée :
							<ul>
								<li>Les élèves peuvent appendre les leçons à leur rythme (avec une vidéo, on peut
							mettre « pause » ou revenir en arrière).</li>
								<li>Les activités de découverte, les recherches et les tâches complexes sont accomplies
							en classe, avec le professeur.</li>
								<li> Les élèves sont plus actifs pendant les cours.</li>

							</ul>
							
							<em></em>
						</p>

						<h2 class="site-description">Comment utiliser ce site</h2>

						<p class="bg-info">
							L'utilisation de ce site requiert une inscription de l'élève et une validation de son profil par l'enseignant.
							Votre enseignant vous accompagnera pour réalisr cette inscription.
						</p>

						<p>
							Tout le monde peut accèder sans limitations aux ressources de ce site.
							Seuls les élèves enregistrés comme participant par l'enseignant peuvent participer aux questionnaires. 
						</p>


						<h2 class="site-description">Quelques Liens</h2>


						<a href="http://fr.wikipedia.org/wiki/Classe_inversée" >
							<div class="col-sm-3 text-center" >
								<div style="margin-top:10px;
											color:black;
											{% if d.1.color  %}
											background: {{d.1.color }};
											{% else %}
											background: {{d.1 }};
											{% endif %}
											border: #cdcdcd medium solid;
											border-radius: 10px;
											height:80px">
								<p><em>Wikipedia</em></p>
								
						
								<p> <span style="text-transform:uppercase;"><b>La Classe Inversée</b></span> </p>
						

						
								</div>
							</div>
						</a>



						<a href="http://fr.wikipedia.org/wiki/Classe_inversée" >
							<div class="col-sm-3 text-center" >
								<div style="margin-top:10px;
											color:black;
											{% if d.1.color  %}
											background: {{d.1.color }};
											{% else %}
											background: {{d.1 }};
											{% endif %}
											border: #cdcdcd medium solid;
											border-radius: 10px;
											height:80px">
								<p><em>Wikipedia</em></p>
								
						
								<p> <span style="text-transform:uppercase;"><b>La Classe Inversée</b></span> </p>
						

						
								</div>
							</div>
						</a>

						<a href="http://fr.wikipedia.org/wiki/Classe_inversée" >
							<div class="col-sm-3 text-center" >
								<div style="margin-top:10px;
											color:black;
											{% if d.1.color  %}
											background: {{d.1.color }};
											{% else %}
											background: {{d.1 }};
											{% endif %}
											border: #cdcdcd medium solid;
											border-radius: 10px;
											height:80px">
								<p><em>Wikipedia</em></p>
								
						
								<p> <span style="text-transform:uppercase;"><b>La Classe Inversée</b></span> </p>
						

						
								</div>
							</div>
						</a>

						<a href="http://fr.wikipedia.org/wiki/Classe_inversée" >
							<div class="col-sm-3 text-center" >
								<div style="margin-top:10px;
											color:black;
											{% if d.1.color  %}
											background: {{d.1.color }};
											{% else %}
											background: {{d.1 }};
											{% endif %}
											border: #cdcdcd medium solid;
											border-radius: 10px;
											height:80px">
								<p><em>Wikipedia</em></p>
								
						
								<p> <span style="text-transform:uppercase;"><b>La Classe Inversée</b></span> </p>
						

						
								</div>
							</div>
						</a>






				</div>

			</div>
		</div>
	</div><!-- row top-level -->
	

</div>
<!-- container -->


{% endblock %}
